* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Arial, Helvetica, sans-serif;
}

.studentAdd-button,
.studentSearch-button,
.studentListReset {
  color: rgb(236, 240, 241);
  background-color: rgb(52, 73, 94);
  padding: 10px 20px;
}

.studentAdd-button,
.studentListReset {
  margin-top: 20px;
  display: block;
  margin: 20px auto 0 auto; /* Ortalar */
  width: 90%;
  max-width: 300px;
}

.studentListReset {
  margin-bottom: 20px;
}

.search,
.searchForm {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.search {
  margin-bottom: 50px;
}

#searchInput {
  width: 100%;
  max-width: 200px;
  padding: 8px 15px;
  font-size: 16px;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

.student-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.student-card {
  width: 220px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  transition: 0.3s;

  flex: 1 1 100%;
  max-width: 350px;
}

.student-card:hover {
  transform: translateY(-5px);
}

.student-card img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.student-info {
  margin-bottom: 10px;
}

.student-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.student-buttons button {
  flex: 1;
  margin: 3px;
  width: 310px;
}

#allStudentInformations {
  display: flex;
  flex-wrap: wrap;
}

@media (width > 767px) {
  .student-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }

  .student-card {
    flex: 1 1 calc(50% - 20px);
    max-width: 400px;
  }
}

@media (width > 1024px) {
  .student-card {
    flex: 1 1 calc(33.333% - 20px);
  }
}